.items-container {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
}
p {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
}
button {
  color: #ff0b37;
  background-color: transparent;
  border: 2px solid #ff0b37;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  margin-bottom: 10px;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.title {
  font-size: 22px;
  font-weight: 500;
  padding-right: 25px;
  text-align: left;
}
.delete-btn {
  height: 35px;
  width: 80px;
  border-style: solid;
  border-width: 1px;
  border-color: #ff0b37;
  color: #ff0b37;
  font-size: 16px;
  padding: 6px;
  border-radius: 10px;
}
.edit-input {
  height: 35px;
  width: 80%;
  border-style: none;
  outline: none;
  font-size: 18px;
  font-weight: 520;
}
.save-edit-btn {
  background-color: rgb(20, 232, 20);
  color: white;
  font-size: 16px;
  font-weight: 520;
  padding: 8px 15px 8px 15px;
  border-radius: 8px;
  outline: none;
  border-style: none;
  margin-right: 15px;
  height: 35px;
}
.text-btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.input-label-div {
  display: flex;
  align-items: center;
  margin-left: 6px;
}
.check-box {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  margin-top: 8px;
}

.checked-title {
  text-decoration: line-through;
}
.todo-item {
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  background-color: antiquewhite;
  margin: 10px;
  border-radius: 10px;
}